<div class="row status-{{event.status}}">
	<div class="col-xs-3 no-pad-right">
		<p class="small">
			<span class="non-mobile-only">
				<i class="fa fa-fw fa-clock-o"></i> {{event.start_time| date:"g:i a"}}<br/>
			</span>
			<span class="mobile-only">
				{{event.start_time| date:"g:i a"}}<br/>
			</span>
		</p>
	</div>
	<div class="col-xs-9">
		<p>
      {% if event.status == 'cancelled' %}<del>{% endif %}
      <a href="{{event.event_page_url}}/">{{event.name}}</a>
      {% if event.status == 'cancelled' %}</del>{% endif %}
      {% if event.clean_agenda_items %}
      <i class="fa fa-fw fa-file-text-o" title="Agenda Published" style="cursor:help; color:#C00000"></i>
      {% endif %}
      <br/>
			<span class="small text-muted">{{event.description}}</span>
		</p>
	</div>
</div>
